.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
	z-index:100000000;
}

.chatbox_send
{
	position: fixed;
	position:expression("absolute");
	width: 230px;
	height: auto;
	display:none;
	z-index:100000000;
}
.chat_options
{
	background:#ccc;
	height:25px;
}
#user_ico
{
	background-image:url('../images/user_ico.png');
}
.chatboxcontent_send
{
	
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:auto;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}
.chatboxhead {
	background-color: #4b8df8;
	padding:7px;
	color: #ffffff;

	border-right:1px solid #4b8df8;
	border-left:1px solid #4b8df8;
}

.chatboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}
.show_connected_msg
{
	display:none;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
}
.invite_member
{
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	padding:7px;
	display:none;
}
.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	font-family: 'Open Sans', sans-serif;
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #4EE;
	margin: 1px;
	overflow:hidden;
}

.chatboxtextareaselected {
	border: 2px solid #4b8df8;
	margin:0;
	font-size:12px;
}

.chatboxmessage {
	margin-left:1em;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
	font-weight:bolder;
	font-family: 'Open Sans', sans-serif;
}